 .ta-hidden-input {
     display: none;
 }
 
 .panel-default {
     margin: 30px auto;
     border: 1px solid #000;
     border-radius: 5px;
     max-width: 80%;
 }
 
 .panel-heading {
     text-transform: uppercase;
     color: #000;
     font-size: 15px;
     font-weight: 700;
     letter-spacing: 3px;
 }
 
 .form-group {
     padding: 10px 0;
 }
 
 .panel-body label {
     font-size: 14px;
     letter-spacing: 2px;
     font-weight: 600;
 }
 /* .wysiwyg {
    padding-top: 50px;
}

.ta-scroll-window {
    height: auto;
    min-height: 300px;
}

.ta-scroll-window .ta-bind {
    height: auto;
    min-height: 300px;
}

.ta-scroll-window .form-control {
    position: relative;
} */