/* post */

.post {
    color: #000;
    padding-top: 30px;
}

.post-detail {
    color: black;
}

.end-post {
    width: 100%;
    margin-top: 30px;
}

.title-underline {
    margin: 15px 0px;
}

.post-date {
    letter-spacing: 1px;
    color: #626262;
    font-size: 13px;
    text-transform: uppercase;
}

.post-social {
    padding: 15px 0px;
    text-align: left;
}

.blog-title {}

.blog-post p {
    color: #626262;
}

.btn-readmore {
    letter-spacing: 1px;
    font-size: 11px;
    border: 3px solid #000;
    border-radius: 0px;
}

.readmore-block {
    text-align: right;
}

.btn-default:hover {
    color: white;
    background-color: #000;
    border-color: #000;
    font-weight: bold;
}

.post-social a {
    font-size: 11px;
    letter-spacing: 3px;
    color: #000;
    line-height: 23px;
}

.post-social i {
    color: #626262;
}


/* img */

.thumbnail-main {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
    float: left;
}

.thumbnail-main img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.thumbnail-main img.portrait {
    /* width: 100%; */
    height: auto;
    width: 100%;
}


/*pagination*/

.pagination {
    color: #333;
    letter-spacing: 18px;
    width: 100%;
    min-width: 200px;
    font-size: 17px;
    font-weight: 400;
}

.pagination a:hover:not(.active) {
    text-decoration: underline;
}