*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
    text-align: center;
    letter-spacing: 2px;
}

.form-control {
    font-size: 11px;
    border-radius: 0;
}

.control-label {
    color: #626262;
    letter-spacing: 1px;
}

.form-group p {
    letter-spacing: 1px;
    font-size: small;
}

.btn-defaul {
    border: 3px solid #000;
    border-radius: 0;
    color: #000;
    background-color: white;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: small;
}


}
.btn-input {
    letter-spacing: 1px;
    font-size: 11px;
    border: 3px solid #000;
    border-radius: 0px;
}
.input-block {
    text-align: right;
}
.input-block .btn-defaul:hover {
    background-color: #000;
    color: white;
    font-weight: 600;
}