.input-title {
    width: 100%;
}

.title {
    line-height: 20px;
    padding: 15px;
    padding-top: 0px;
    margin: 0px -15px;
    text-transform: uppercase;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}

.widget-title {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
}

.widget-underline {
    height: 1px;
    width: 30px;
    background-color: #252525;
}

.end-post {
    width: 100%
}

.list-sidebar {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 2px;
    color: #000;
}

.blog-detail {
    padding-top: 15px;
    padding-bottom: 30px;
}

.blog-post {
    padding-top: 15px;
}

.widget {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #a0a3a4;
}

.widget p {
    color: #626262;
}

.category-list a {
    font-size: 14px;
    text-transform: capitalize;
    line-height: 23px;
    letter-spacing: 0.02em;
    color: #626262;
}

.widget-posts-details {
    line-height: 16px;
    font-size: 14px;
    color: #000;
}

.widget-posts-details a {
    text-transform: none;
}