  a {
    text-transform: uppercase;
  }
  body {
      font-family:  "Lucida Console", Monaco, monospace;
      line-height: 1.8;
      color: white;
     /* background-color: #2F4F4F;*/

    }
  img {
    border: 1px solid #ddd;
    padding: 20px;
    position: relative;
}
 
 .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  .navbar {
      margin-bottom: 10px;
      background-color: #999999;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
  }
  .search-header{

  }
  .page-title{
    background:url(images/tattoos/background3.jpg) no-repeat;
    background-size: cover;
    padding: 240px 0 0;
    min-height: 450px;
  }
  .opacity-medium{
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: 1;
  }
  .separator-line{
    height: 2px;
    width: 30px;

  }
  .bg-yellow{
    background: #e6af2a;
  }
  .text-center {
    text-align: center!important;
  }
  .page-title-large h1 {
    font-size: 25px !important;
    margin-bottom: 15px !important;
  }
  .page-title h1 {
    letter-spacing: 6px;
    font-weight: 600;
  }
  h1 {
    font-weight: 700;
    line-height: 45px;
  }
 /* side bar*/
 .col-md-3 {
    width: 25%;
  }
  hr {
    color: gray
  }
/*FOOTER*/
footer { 
          background-color:#f4f4f4; 
          min-height:300px; 
          font-family:"Lucida Console", Monaco, monospace; 
        }
footer /*.footer-top*/ {
    border-top: 1px solid #e5e5e5;
  }

.logofooter { 
              margin-bottom:10px; 
              font-size:15px; 
              color:black;
              text-transform: uppercase;
              padding-top: 10px; 
            }
.footerleft {  
              padding:0 120px; 
            }
.footerleft p { 
                  font-size:12px;
                   margin-bottom:15px;
                   color: #a0a3a4;
                 }
.footerleft p i { width:20px; 
                  color:#999;
                }

.footer-ul { 
             list-style-type:none;  
             padding-left:0px; 
             margin-left:2px;
           }
.footer-ul li { line-height:25px; 
                font-size:12px;
              }
.footer-ul li a { 
                color:#a0a3a4; 
                 }
.footer-ul i { 
                margin-right:10px;
              }
 .icon-ul { 
           list-style-type:none !important;
         }

 .copyright { min-height:40px; 
              background-color:#252525;
            }
 .copyright p { text-align:left; 
                color:#888888; 
                padding:10px 0; 
                margin-bottom:0px;
              }

 
