<div class="container panel panel-defaul">
    <div class="row">
        <div class="col-md-8">
            <h3 class="title-lg">Tất cả các chuyên mục: </h3>
            <ul class="list-inline total">
                <li class="all">
                    <a href="#">Tất cả<span class="count"> ({{categories.length}})</span></a> |
                </li>
                <li>
                    <div class="search">
                        <label class="screen-reader-text" for="post-search-input"></label>
                        <input ng-model="keySearch" class="" type="search" value="">
                        <a href="#search/{{keySearch}}"><button class="" type="submit" class="button" value="Tìm các chuyên mục">Tìm các chuyên mục</button></a>
                    </div>
                </li>
            </ul>
            <table ng-init="apiGetCategories()" class="table table-hover table-bordered ">
                <thead>
                    <tr>
                        <th>Tên danh mục</th>
                        <th>Mô tả</th>
                        <th>Ngày tạo</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cat in categories">
                        <td>{{cat.name}}</td>
                        <td>{{cat.description}}</td>
                        <td>{{cat.create_date| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                        <td><a ng-click="getCategoryID(cat._id)" data-toggle="modal" data-target='#edit-modal' href=""><span class="label label-warning">Chỉnh sửa</span></a>
                            <!-- <a ng-click="getCategoryID(cat._id)" data-toggle="modal" data-target='#delete-modal' href=""><span class="label label-danger">Xóa</span></a></td> -->
                    </tr>

                </tbody>
            </table>

        </div>
        <div class="col-md-4">
            <h3>Thêm chuyên đề:</h3>
            <form ng-submit="submitCreateCategory()" name="categoryForm" role="form">
                <div class="form-group">
                    <label for="title">Tiêu đề:</label>
                    <textarea ng-model="newCategory.name" name="title" class="form-control" rows="3" id="title" placeholder="nhập tiêu đề cho chuyên mục..." required></textarea>
                    <div ng-show="categoryForm.$submitted || categoryForm.title.$touched">
                        <p class="validation-color" ng-show="categoryForm.title.$error.required">Your title is invalid.</p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Mô tả:</label>
                    <textarea ng-model="newCategory.description" name="description" class="form-control" rows="5" id="description" placeholder="Thêm mô tả..." required></textarea>
                    <div ng-show="categoryForm.$submitted || categoryForm.description.$touched">
                        <p class="validation-color" ng-show="categoryForm.description.$error.required">Add the description.</p>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" ng-disabled="categoryForm.$invalid">Thêm mới</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center"><b>Edit Category</b></h4>
            </div>
            <div class="panel-body">
                <form ng-submit="submitCreateCategory()" ng-init="apiGetCategories()">
                    <div class="form-group">
                        <label for="comment">Tiêu đề:</label>
                        <textarea ng-model="category.name" class="form-control" rows="3" id="comment" placeholder="nhập tiêu đề cho chuyên mục..."></textarea>
                    </div>

                    <div class="form-group">
                        <label for="comment">Mô tả:</label>
                        <textarea ng-model="category.description" class="form-control" rows="5" id="comment" placeholder="Thêm mô tả..."></textarea>
                    </div>
                </form>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="updateCategory()" type="button" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- <div class="modal fade" id='delete-modal'>
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center">Delete category?</h4>
            </div>
            <div class="modal-footer">
                <form ng-submit="deleteCategory()">
                    <button type="submit" class="btn btn-danger">Yes</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                </form>
            </div>
        </div>
    </div>
</div> -->