<div class="panel panel-default">
    <div class="panel-heading">
        <h3> Viết bài mới </h3>
    </div>
    <div class="panel-body">
        <form ng-submit="submitCreateArticle()" name="form" role="form">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" ng-model="newArticle.title" placeholder="Title" required novalidate>
                <div ng-show="form.$submitted || form.title.$touched">
                    <p class="validation-color" ng-show="form.title.$error.required">Your title is invalid.</p>
                </div>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" value="{{user._id}}" placeholder="Author ID">
            </div>
            <div ng-init="apiGetCategories()" class="form-group">
                <label>Category</label></br>
                <select ng-model="newArticle._category" name="category" ng-required="true" class="form-control" ng-options="category as category.name for category in categories track by category._id" required/>
                </select>
                <div ng-show="form.$submitted || form.category.$touched">
                    <p class="validation-color" ng-show="form.category.$pristine">Please choose the category</p>
                </div>
            </div>
            <div class="form-group">
                <label>Short Description</label>
                <textarea class="form-control" name="description" ng-model="newArticle.description" rows="2" required></textarea>
                <div ng-show="form.$submitted || form.description.$touched">
                    <p class="validation-color" ng-show="form.description.$error.required">Add the description.</p>
                </div>
            </div>
            <div class="form-group">
                <label>Full Description</label>
                <text-angular ng-model="newArticle.content" name="content" required></text-angular>
                <div ng-show="form.$submitted || form.content.$touched">
                    <p class="validation-color" ng-show="form.content.$error.required">Add content.</p>
                </div>
            </div>

            <div class="form-group">
                <label>Media</label>
                <input type="text" class="form-control" name="media" ng-model="newArticle.media" placeholder="Image, Youtube Link..." required>
                <div ng-show="form.$submitted || form.media.$touched">
                    <p class="validation-color" ng-show="form.media.$error.required">Add Media.</p>
                </div>
            </div>

            <div class="form-group">
                <label>Tags</label>
                <tags-input use-strings="true" height='30px' ng-model="newArticle.tags"></tags-input>
            </div>
            <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Đăng bài viết</button>
        </form>
    </div>
</div>