<div class="panel panel-default">
    <div class="panel-heading">
        <h3> Viết bài mới </h3>
    </div>
    <div class="panel-body">
        <form ng-submit="submitCreateArticle()" name="myForm" novalidate>
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" ng-model="newArticle.title" placeholder="Title">
                <span style="color:red" ng-show="myForm.$submitted ||myForm.title.$invalid">
                    <span ng-show="myForm.title.$error.required">Username is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label>Author</label>
                <input type="text" class="form-control" value="{{user._id}}" placeholder="Author ID">
            </div>
            <div ng-init="apiGetCategories()" class="form-group">
                <label>Category</label></br>
                <select ng-model="newArticle._category" ng-required="true" class="form-control" ng-options="category as category.name for category in categories track by category._id" />
                </select>
            </div>
            <div class="form-group">
                <label>Short Description</label>
                <textarea class="form-control" name="description" ng-model="newArticle.description" rows="2"></textarea>
                <span style="color:red" ng-show="myForm.description.$invalid && myForm.description.$invalid">
                    <span ng-show="myForm.description.$error.required">Username is required.</span>
                </span>
            </div>
            <div class="form-group">
                <label>Full Description</label>
                <text-angular ng-model="newArticle.content"></text-angular>

            </div>

            <div class="form-group">
                <label>Media</label>
                <input type="text" class="form-control" name="img" ng-model="newArticle.media" placeholder="Image, Youtube Link...">
                <span style="color:red" ng-show="myForm.img.$invalid && myForm.img.$invalid">
                    <span ng-show="myForm.img.$error.required">Username is required.</span>
                </span>
            </div>

            <div class="form-group">
                <label>Tags</label>
                <tags-input use-strings="true" height='30px' ng-model="newArticle.tags"></tags-input>
            </div>


            <button class="btn btn-primary" type="submit" ng-disabled="myForm.title.$invalid ||  
             myForm.email.$invalid || myForm.description.$invalid|| myForm.img.$invalid">Đăng bài viết</button>
        </form>
    </div>
</div>