<div class="col-xs-12 col-md-8 col-sm-8 col-lg-8 post">
    <div ng-init="getArticle()" class="post">
        <div class="blog-detail">
            <div class="title ">
                <a href="#single/{{article._id}} ">{{article.title}}</a>
            </div>
            <div class="post-date date-single">
                Posted by
                <a href="#author/{{article._author._id}}"> {{article._author.name}}</a> | <a href="">{{getCategoryNameOfArticle(article._category._id)}}</a> | <a href=""> {{article.createdDate | date: 'dd-MM-yyyy HH:mm:ss'}}</a>
            </div>

            <div class="blog-post blog-post-single">
                {{article.description}}
            </div>
        </div>
        <div class="thumbnail-cat">
            <a href="#single/{{article._id}} ">
                <img ng-src="{{article.media}}" class="portrait-cat" alt="Image" />
            </a>
        </div>

        <div class="full-description">
            <div ng-bind-html="article.content" class="blog-content"> </div>
        </div>

        <div class="post-social ">
            <a href="# " class=" "><i class="fa fa-heart-o "> Likes</i></a>
            <a href="# " class="https://www.facebook.com"><i class="fa fa-share-alt "> Share</i></a>
            <a href="# " class=" "><i class="fa fa-comment-o "> {{article.comments.length}} Comment(s)</i></a>
        </div>
        </br>
        <div class="widget-underline end-post"></div>
    </div>


    <div class="all-comments">
        <div ng-repeat="x in article.comments" class="row comments-out">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 image-com">
                <div class="thumbnail thumbnail-cmts">
                    <a href="# "><img src="images/tattoos/avatar.png" class="portrait" alt="Image"></a>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-9 detail-coms">
                <div>
                    <h5 class="author text-left user-comments"><b>{{x._user.name}}</b></h5>
                    <span class="date text-right">
                                    {{x.createdDate| date:'HH:mm dd-MM-yyyy'}}
                                    </span>
                </div>
                <p class="">{{x.commentContent}}</p>
                <h5 class=""><a href="">Reply<a>
                                    <a>   <span class="fa fa-thumbs-up" aria-hidden="true"></span></a> <span class="count">1</span> <a><span class="fa fa-thumbs-down" aria-hidden="true"></span></a> <span class="count">1</span></h5>
            </div>
        </div>
    </div>




    <div ng-show="isLogged()" class="input">
        <p>Add a Comment</p>
        <form ng-submit="addCommentforArticle()">
            <!-- <div class="form-group">
                        <input type="text" class="form-control" id="usr" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="usr" placeholder="Email">
                    </div> -->
            <div class="form-group">
                <textarea ng-model="newComment.commentContent" class="form-control" rows="3" placeholder="Comment"></textarea>
            </div>
            <div class="readmore-block">
                <button href="" class="btn btn-small btn-default btn-readmore " type="submit">Send comment</button>
            </div>
        </form>
    </div>
</div>